Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
LocalDerivedDataCache/5/8/9/TEXTURE_814DCC3DC72143F49509781513CB9855_AUTODXT_E2320FC04AE5FB2F898FB5A4B5C5B__0F0B6CF87DE4EF0DDBAE75BEF2C39D63A98D097B.udd
*.udd
